@import "../../style/variables.scss";

.aside {
  position: fixed;
  width: 260px;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  background: linear-gradient(
    rgba(60, 71, 87, 0.808) 20%,
    rgba(60, 71, 87, 0.808) 60%
    ),
    url("https://demos.creative-tim.com/vue-material-dashboard/img/sidebar-2.32103624.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.aside__box-logo {
  height: 65px;
  padding: 20px;
  color: $text-color;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.431);
}

.aside__nav-list {
  padding: 0 15px;
  margin: 0 -15px;
  border-top: 1px solid rgba(246, 246, 246, 0.287);
  list-style: none;
}

.aside__nav-link {
  display: block;
  margin-top: 3px;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  color: $text-color;
  border-radius: 5px;
  transition: 0.15s;
}

.aside__nav-link:hover {
  background-color: rgba(255, 255, 255, 0.171);
  color: $text-color;
  text-decoration: none;
}

.aside__nav-link_active,
.aside__nav-link_active:hover {
  background-color: #4caf50;
}
