@import "../../style/variables.scss";

.datepicker {
  display: inline-block;
  margin-left: 150px;
  display: flex;
  align-items: center;
  width: 150px;
}

.datepicker__label {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 300;
}