.auth-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.auth-container__presentation-account {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 70px 70px 10px;
  font-size: 13px;
  color: #555;
}
