@import "../../../style/variables.scss";

.expenseItem {
  display: flex;
  padding: 8px;
}

.expenseItem__circle {
  display: inline-block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.expenseItem__wrapper {
  display: inline-block;
  flex-grow: 1;
}

.expenseItem__header-box {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  line-height: 0.4;
}

.expenseItem__header {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
}

.expenseItem__sum {
  display: inline-block;
  font-weight: 400;
  color: rgb(39, 39, 39);
}
