@import "../style/variables.scss";

.info-card {
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.button {
  padding: 7px 35px;
  width: min-content;
  border: none;
  background-color: #58697c;
  color: $text-color;
  font-weight: 400;
  font-size: 17px;
  transition: 0.2s background-color;
}

.button:hover {
  background-color: #233e61;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #878c92;
}
